{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        @media screen and (max-width: 768px){
           form{
                width: 70% !important;
                margin: 0 auto;
            }

            form button{
                width: 80%;
            }
        }
    </style>
{% endblock %}

{% block title %}Registration{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center">Register</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'col-4 mx-auto mt-5 mb-5'}}) }}
        {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'd-block text-center'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-2'}}) }}

        {{ form_label(registrationForm.username, 'Username', {'label_attr': {'class': 'd-block text-center'}}) }}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control mb-2'}}) }}

        {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'd-block text-center'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control mb-2'}}) }}

        <button type="submit" class="btn btn-primary" style="margin-left: 50%; transform: translateX(-50%);">
            Create an account
        </button>

        <p class="text-center mt-2">
            <a href="{{ path('app_login') }}">Already an account ?</a>
        </p>
    {{ form_end(registrationForm) }}
{% endblock %}
