{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Edit
    {% else %}
        Create    
    {% endif %}    
{% endblock %}

{% block body %}

    <h1 class="text-center">
        {% if edit %}
            Edit {{ trick.title }}
        {% else %}
            Create    
        {% endif %}  
    </h1>

    {{ form_start(form) }}
        {{ form_label(form.title, 'Title', {'label_attr': {'class': 'd-block text-center'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control mb-2'}}) }}

        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'd-block text-center'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control mb-2'}}) }}

        {{ form_label(form.category, 'Group', {'label_attr': {'class': 'd-block text-center'}}) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control mb-2'}}) }}
    {{ form_end(form) }}

    {% if edit %}
        <div class="d-flex">
            {% set index = 0 %}
            {% for image in trick.images %}
                <div class="p-2" style="width: 20%; height: 12rem; overflow: hidden;">
                    <img src="https://127.0.0.1:8000/assets/images/tricks/{{image}}" 
                        alt=""
                        style="width: 100%;"
                    >
                    {% if index > 0 %}
                        <a href="#" class="btn btn-primary mt-2">Set as main image</a>
                    {% endif %}
                    <a href="#" class="btn btn-danger mt-2 float-end">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>                
                {% set index = index + 1 %}
            {% endfor %}
        </div>
        <div class="d-flex">
            {% for video in trick.videos %}
                <div class="p-2" style="width: 20%; height: 16rem; overflow: hidden;">
                    <iframe width="100%"
                        height="80%"
                        src={{video}}
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                    <a href="#" class="btn btn-danger mt-2 float-end">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
        
{% endblock %}
