{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/css/showtrick.css') }}>
{% endblock %}

{% block title %}{{ trick.title | capitalize }}{% endblock %}

{% block body %}
    <div class="bg-image mb-4 d-flex flex-column flex-wrap" 
        style="background: url('https://127.0.0.1:8000/assets/images/tricks/{{mainImage}}') center/cover">

        <div class="text-end w-100 height-10">
        {% if app.user %}
            <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}" class="btn edit">
                <i class="fa-solid fa-pencil"></i>
            </a>
            <a href="{{ path('app_trick_delete', {'slug': trick.slug}) }}" class="btn trash">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        {% endif %}
        </div>

        <div class="d-flex align-items-center w-100 title">
            <h1 class="w-100 text-center">{{ trick.title | capitalize }}</h1>
        </div>
    </div>

    <div class="text-center">
        <button id="see-media" class="btn btn-primary text w-25 mb-4">See media</button>
    </div>

    <div id="medias" class="d-flex hide">
        {% set imageNumber = 1 %}
        {% for image in otherImages %}
            <div class="mb-4" style="width: 20%; height: 100px;">
                <img src="https://127.0.0.1:8000/assets/images/tricks/{{image}}" 
                    alt="{{trick.title}} {{imageNumber}}"
                    class="w-100"
                    style="height: 100%";
                >
            </div>
            {% set imageNumber = imageNumber + 1 %}
        {% endfor %}

        {% set videoNumber = 1 %}
        {% for video in trick.videos %}
            <div class="mb-4 overflow-hidden" style="width: 20%; height: 100px;">
                <iframe width="100%"
                    height="125%"
                    src={{video}}
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            </div>
            {% set videoNumber = videoNumber + 1 %}
        {% endfor %}
    </div>
    <p class="mt-4 mb-4">
        {{trick.description}}
    </p>
    <div class="w-75 border-bottom mb-4" style="margin: 0 auto;">
        <div class="w-75 d-flex justify-content-between" style="margin: 0 auto;">
            <p>{{trick.category.title}}</p>
            <p>{{trick.author.username}}</p>
            <p>created : {{trick.createdAt | date("d-m-Y")}}</p>

            {% if trick.updatedAt %}
                <p>last update : {{trick.updatedAt | date("d-m-Y")}}</p>
            {% endif %}        
        </div>
    </div>
    {% if app.user %}
        <div class="w-75 border-bottom mb-4" style="margin: 0 auto;">
            <div class="w-75" style="margin: 0 auto;">            
                {{ form_start(commentForm) }}
                    {{ form_widget(commentForm.content, {'attr': {'class': 'd-inline'}}) }}
                    {{ form_errors(commentForm.content) }}

                    <button type="submit" class="d-inline btn btn-primary mb-4 ms-2">
                        Leave a comment
                    </button>
                {{ form_end(commentForm) }}
            </div>
        </div>
    {% endif %}

    <div class="w-75 mb-4" style="margin: 0 auto;">
        {% for comment in pagination %}
            {% if comment.author.photo is null %}
                {% set photo = 'snowtricks.png' %}
                {% set alt = 'Snowtricks logo' %}
            {% else %}
                {% set photo = 'avatars/'~ comment.author.photo ~'' %}
                {% set alt = 'Snowtricks '~ comment.author.username ~" 's avatar" %}
            {% endif %}
            <div class="w-75 mb-4 mt-4 d-flex" style="margin: 0 auto;">
                <img class="avatars" src={{ asset("assets/images/"~ photo ~'') }} alt={{alt}}>
                <div class="ps-4">
                    <p>{{ comment.author.username }} at {{ comment.createdAt | date("d-m-Y")}} :</p>
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pagination) }}
    
{% endblock %}

{% block javascripts %}
    <script src={{ asset('assets/js/showTrick.js') }}></script>
{% endblock %}
